html{
    height: 100%;
}
body{
    background-image: linear-gradient(
        89.9deg,
        rgba(178, 253, 238, 0.96) -8.1%,
        rgba(207, 244, 254, 1) 26.3%,
        rgba(207, 244, 254, 0.48) 47.5%,
        rgba(254, 219, 243, 0.63) 61.5%,
        rgba(254, 219, 243, 1) 78.7%,
        rgba(254, 207, 210, 1) 109.2%
    );
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#output{
    font-size: 13px;
}
span{
    color: red;
    white-space: nowrap;
    font-size: 13px;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgb(38,57, 77) 0px 20px 30px -10px;
}
input{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: white;
}
select{
    outline: none;
}
button{
    color: white;
    padding: 10px;
    border: 1px solid white;
    background: none;
    cursor: pointer;
}